CONFIG_DB_CLIENT="pg"
CONFIG_DB_HOST="localhost"
CONFIG_DB_PORT="5432"

CONFIG_DB_USER="twyr"
CONFIG_DB_PASSWORD="twyr"
CONFIG_DB_NAME="twyr"

CONFIG_DB_POOL_MIN="0"
CONFIG_DB_POOL_MAX="10"

AUDIT={"enable": true}
CACHE={"socket": {"host":"localhost","port":6379,"database":0}}
LOGGER={"loggerLevel":"debug","loggerFormat":"json"}
RESTAPI={"SUBDOMAIN_MAPPING":{"127.0.0.1":"www","localhost":"www"}, "SESSION_DOMAIN":"localhost"}
SQLDATABASE={"connection": {"host":"localhost","port":5432,"user":"twyr","password":"twyr","database":"twyr"}}
MONGODB={"user":"twyr","pass":"twyr","host":"localhost","port":27017,"dbName":"twyr", "authSource":"admin"}
TRANSLATE={"region":"ap-south-1","maxAttempts":3,"credentials":{"accessKeyId":"your-access-key-id","secretAccessKey":"your-secret-access-key","sessionToken":""}}

ADMIN_SUB_TENANT="www"
